{% trans_default_domain 'FOSUserBundle' %}

<div class="panel panel-white">
    <div class="panel-heading">
        <h6 class="panel-title"> Mon profil<a class="heading-elements-toggle"><i class="icon-more"></i></a></h6>
    </div>

    <div class="panel-body">
        <div class="row">
            <div class="col-sm-6 content-group">
                <img src="{{ asset('assets/images/avatar.png') }}" class="content-group mt-10" alt="" style="width: 120px;">
                <ul class="list-condensed list-unstyled">
                    <li>{{ user.zipCode|default('') }} {{ user.lastName|default('') }} {{ user.firstName|default('') }}</li>
                    <li>{{ user.phoneNumber|default('') }}</li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-lg-12">

                <table class="table">
                    <tbody>
                    <tr>
                        <th>Nom</th>
                        <td>{{ user.person.firstName }}</td>
                    </tr>
                    <tr>
                        <th>Prénom</th>
                        <td>{{ user.person.lastName }}</td>
                    </tr>
                    <tr>
                        <th>{{  'profile.show.email'|trans }}</th>
                        <td>{{ user.email|default('') }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'profile.show.username'|trans }}</th>
                        <td>{{ user.username|default('') }}</td>
                    </tr>
                    <tr>
                        <th>Code postal</th>
                        <td>{{ user.person.postalCode }}</td>
                    </tr>
                    <tr>
                        <th>Téléphone</th>
                        <td>{{ user.person.phoneNumber }}</td>
                    </tr>
                    <tr>
                        <th>Type</th>
                        <td>
                            <span class="label label-success">{{ user.person.jobPosition }}</span>
                        </td>
                    </tr>
                    <tr>
                        <th>Dernière connexion</th>
                        <td>{% if user.lastLogin %}{{ user.lastLogin|date('Y-m-d H:i:s') }}{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Statut</th>
                        <td>
                            {% if user.enabled %}
                                <span class="label label-success">Activé</span>
                                {% set labelEnable = 'Désactiver'%}
                            {% else %}
                                <span class="label label-danger">Désactivé</span>
                                {% set labelEnable = 'Activer'%}
                            {% endif %}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <div class="heading-elements pull-right">
            <div class="col-md-12">
                <div class="btn-group">
                    <a href="{{ path('employee_edit', {'id': user.person.id})}}" class="btn btn-primary btn-labeled btn-xs legitRipple"><b><i class="icon-pencil"></i></b> Modifier</a>
                    <a  href="{{ path('fos_user_change_password') }}" name="update_password" title="Modifier votre mot de passe" type="submit" class="btn bg-teal-400 btn-labeled btn-xs legitRipple"><b><i class="icon-key"></i></b> Modifier mot de passe </a>
                </div>
            </div>
        </div>
    </div>
</div>