{% extends 'base.html.twig' %}
{% block content %}

    <div class="page-content">
        {% block sidebar %}
            {% include 'layout/_partials/sidebar.html.twig' %}
        {% endblock %}

        <div class="content-wrapper">
            <div class="content">
                <div class="panel panel-flat">
                    <div class="tabbale">
                        <ul class="nav nav-tabs bg-teal-400 nav-justified">
                            <li id="clikfirsttab" class="active"><a href="#firsttab" data-toggle="tab" aria-expanded="true">Fiche Client</a></li>
                            <li><a href="{{ path('relation_new') }}">Prise de connaissance</a></li>
                        </ul>
                        <div class="tab-content ">
                            <div class="tab-pane active" id="firsttab">
                                <div class="">
                                    <ul class="nav nav-tabs nav-tabs-highlight">
                                        <li class="active"><a href="#Contacts" data-toggle="tab" aria-expanded="true"><i class="icon-users position-left"></i>Informations générales</a></li>
                                        <li class=""><a href="#Dossiers" data-toggle="tab" aria-expanded="false"><i class="icon-folder position-left"></i>Rendez-vous</a></li>
                                        <li class=""><a href="#Contrats" data-toggle="tab" aria-expanded="false"><i class="icon-address-book3 position-left"></i>Contacts</a></li>
                                        <li>
                                            <ul class="nav navbar-nav navbar-right">
                                                <li class="dropdown dropdown-user">
                                                    <a class="dropdown-toggle" data-toggle="dropdown">
                                                        <i class="icon-file-stats2 position-left"></i>
                                                        Autre
                                                        <span class="caret"></span>
                                                    </a>

                                                    <ul class="dropdown-menu dropdown-menu-right">
                                                        <li class=""><a href="#mission" data-toggle="tab" aria-expanded="false">Mission</a></li>
                                                        <li class=""><a href="#Exercices" data-toggle="tab" aria-expanded="false">Exercices</a></li>
                                                        <li class=""><a href="#Relation_client" data-toggle="tab" aria-expanded="false">Informations Bancaires</a></li>
                                                        <li class=""><a href="#Relation_client" data-toggle="tab" aria-expanded="false">Rapprochement CFONB - Mots clés</a></li>
                                                        <li class=""><a href="#Facturation" data-toggle="tab" aria-expanded="false">Facturation</a></li>
                                                        <li class=""><a href="#Relation_client" data-toggle="tab" aria-expanded="false">Codes accés espaces clients</a></li>

                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>




                                <div class="tab-content panel panel-flat border-top-info">
                                    <div class="tab-pane active" id="Contacts">
                                        <div class="panel-body">
                                            {{ form_start(form1, {'attr': {'class': 'form-horizontal'}}) }}
                                            <fieldset class="content-group">
                                                <legend class="text-bold">Informations générales</legend>

                                                {{form_row(form1.socialReason)}}
                                                {{form_row(form1.legalForm)}}
                                                {{form_row(form1.taxationRegime)}}
                                                {{form_row(form1.vatSystem)}}
                                                {{form_row(form1.currentAddress.description)}}
                                                {{form_row(form1.currentAddress.postalCode)}}
                                                {{form_row(form1.currentAddress.city)}}

                                            </fieldset>


                                            <fieldset class="scheduler-border">
                                                <legend class="scheduler-border" style="text-transform: capitalize">Adresse du SIE</legend>
                                                {{form_row(form1.siegeAddress)}}

                                            </fieldset>


                                            <fieldset class="scheduler-border">
                                                <legend class="scheduler-border" style="text-transform: capitalize">aaaaa</legend>
                                                {{form_row(form1.apeCode)}}
                                                {{form_row(form1.mainActivity)}}
                                                {{form_row(form1.siretNumber)}}
                                                {{form_row(form1.sirenNumber)}}
                                                {{form_row(form1.intraCommunityVAT)}}
                                                {{form_row(form1.nbActions)}}
                                                {{form_row(form1.capitalSocial)}}
                                            </fieldset>

                                            <div class="form-group">
                                                <div class=" col-sm-12">

                                                    <fieldset class="scheduler-border">
                                                        <legend class="scheduler-border" style="text-transform: capitalize">Ancien Expert-Comptable</legend>

                                                        {{form_row(form1.formerAccountant.name)}}
                                                        {{form_row(form1.formerAccountant.civility)}}
                                                        {{form_row(form1.formerAccountant.firstName)}}
                                                        {{form_row(form1.formerAccountant.lastName)}}
                                                        {{form_row(form1.formerAccountant.address.description)}}
                                                        {{form_row(form1.formerAccountant.address.postalCode)}}
                                                        {{form_row(form1.formerAccountant.address.city)}}
                                                        {{form_row(form1.formerAccountant.address.email)}}

                                                        <div class="form-group">
                                                            <div class="col-xs- col-md-5 pull-right" >
                                                                <input type="button" class="form-control btn-info" id="pwd" value="&nbsp;Générer et envoyer la lettre de reprise de dossier&nbsp;" name="pwd">
                                                            </div>
                                                        </div>

                                                    </fieldset>

                                                </div>
                                            </div>


                                            <div class="form-group">
                                                <div class=" col-sm-12">

                                                    <fieldset class="scheduler-border">

                                                        <legend class="scheduler-border" style="text-transform: capitalize">Anciennes Adresse</legend>

                                                        {{form_widget(form1.oldAddresses)}}

                                                    </fieldset>

                                                </div>
                                            </div>


                                            {{form_row(form1.Enregistrer)}}



                                            {{ form_end(form1) }}
                                        </div>
                                    </div>

                                    <div class="tab-pane" id="Dossiers">

                                        {% include 'default/rdvs.html.twig' %}

                                    </div>

                                    <div class="tab-pane " id="Contrats">

                                        {% include 'default/client_contact.html.twig' %}

                                    </div>
                                    <div class="tab-pane" id="mission">

                                        {% include 'default/mission.html.twig' %}

                                    </div>
                                    <div class="tab-pane" id="Exercices">

                                        {% include 'default/client_excercice.html.twig' %}

                                    </div>
                                    <div class="tab-pane" id="Facturation">

                                        {% include 'default/client_facturation.html.twig' %}

                                    </div>

                                </div>
                            </div>


                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <style>
        fieldset.scheduler-border {
            border: 1px groove #ddd !important;
            padding: 0 1.4em 1.4em 1.4em !important;
            margin: 0 0 1.5em 0 !important;
            -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
        }

        legend.scheduler-border {
            font-size: 1.2em !important;
            font-weight: bold !important;
            text-align: left !important;
            width:auto;
            padding:0 10px;
            border-bottom:none;
            color: #7b5d5a;
        }


    </style>
    <style>
        div[id^="appbundle_company_oldAddresses"] > label{
            display : none!important;
        }
    </style>

    {% block javascripts %}

        <script src="{{ asset('assets/js/plugins/symfony_collectionjs/jquery.collection.js') }}"></script>
        <script type="text/javascript">
            $('.old-addresses-collection').collection({
                    name_prefix: "{{ form1.oldAddresses.vars.full_name }}",
                    add_at_the_end: true,
                    hide_useless_buttons: true,
                    add: '<a style="float:right" href="#" class="collection-action btn btn-success btn-small collection-rescue-add">Ajouter</a>',
                    remove: '<a href="#" class="collection-remove btn btn-warning collection-action">Retirer</a>',
                    allow_up: false,
                    allow_down: false,
                    init_with_n_elements: 0,
                }
            );

        </script>

    {% endblock javascripts %}
{% endblock %}