{% extends 'base.html.twig' %}
{% block content %}
<style>
 
    .alert.alert-styled-left {
        border-left-width: 27px !important;
    }
    .alert[class*=alert-styled-].alert-info:after, .alert[class*=alert-styled-][class*=bg-info]:after
    {
    content: none !important;
    }
        
</style>
<div class="page-content">
    {% block sidebar %}
        {% include 'layout/_partials/sidebar.html.twig' %}
    {% endblock %}
    <div class="content-wrapper">
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    {% if app.session.getFlashBag().has('warning') %}
                        {% for message in app.session.getFlashBag().get('warning') %}
                            <div class="alert alert-warning no-border">
                                <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                                <strong>Attention !</strong> {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                    {% if app.session.getFlashBag().has('error') %}
                        {% for message in app.session.getFlashBag().get('error') %}
                            <div class="alert alert-danger no-border" role="alert">
                                <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                                <strong>Erreur !</strong> {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                    {% if app.session.getFlashBag().has('info') %}
                        {% for message in app.session.getFlashBag().get('info') %}
                            <div class="alert alert-info no-border" role="alert">
                                <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                    {% if app.session.getFlashBag().has('success') %}
                        {% for message in app.session.getFlashBag().get('success') %}
                            <div class="alert alert-success no-border" role="alert">
                                <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                                <strong>{{ message }}</strong>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="panel panel-flat">
                <div class="panel-heading">
                    <h6 class="panel-title">Information generales<a class="heading-elements-toggle"><i class="icon-more"></i></a></h6>
                    <div class="heading-elements">
                        <ul class="icons-list">
                            <li><a data-action="collapse"></a></li>
                            <li><a data-action="reload"></a></li>
                            <li><a data-action="close"></a></li>
                        </ul>
                    </div>
                </div>
                    <div class="panel-body">
                        <p class="content-group-lg"></p>
                        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                        <fieldset>
                        <legend class="text-semibold"><i class="icon-address-book"></i> Informations générale</legend>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    {{form_row(form.legalName)}}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-12">
                                    {{form_row(form.taxationRegime)}}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-12">
                                    {{form_row(form.vatSystem)}}
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-lg-12">
                                    {{form_row(form.legalForm)}}
                                </div>
                            </div>


                        <b style="color: red;">* Ces Informations sont modifiables dans l'onglet Excercices</b>

                        <br><br>

                            <div class="form-group">
                                <div class="col-lg-12">
                                    {{form_row(form.currentAddress.description)}}
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-lg-12">
                                    {{form_row(form.currentAddress.postalCode)}}
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-lg-12">
                                    {{form_row(form.currentAddress.city)}}
                                </div>
                            </div>


                        <div class="form-group">
                            <div class=" col-sm-12">

                                <fieldset class="scheduler-border">

                                    <legend class="scheduler-border" style="text-transform: capitalize"></legend>

                                    <table class="table datatable-responsive table-bordered table-hover datatable-highlight table-striped">
                                        <thead>
                                        <tr>
                                            <th class="text-center">Date de changement</th>
                                            <th>Ancienne adresse</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>wvwxv</td>
                                            <td>xvwxvw</td>
                                        </tr>
                                        <tr>
                                            <td>wvwxv</td>
                                            <td>xvwxvw</td>
                                        </tr>
                                        <tr>
                                            <td>wvwxv</td>
                                            <td>xvwxvw</td>
                                        </tr>
                                        </tbody>
                                    </table>

                                </fieldset>

                            </div>
                        </div>


                        <div class="form-group">
                            <div class=" col-sm-12">

                                <fieldset class="scheduler-border">
                                    <legend class="scheduler-border" style="text-transform: capitalize"></legend>

                                    <div class="form-group">
                                        <div class="col-lg-12">
                                            {{form_row(form.apeCode)}}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-12">
                                            {{form_row(form.mainActivity)}}
                                        </div>
                                    </div>   
                                    <div class="form-group">
                                        <div class="col-lg-12">
                                            {{form_row(form.siretNumber)}}
                                        </div>
                                    </div>   
                                    <div class="form-group">
                                        <div class="col-lg-12">
                                            {{form_row(form.sirenNumber)}}
                                        </div>
                                    </div>   
                
                                    <div class="form-group">
                                        <div class="col-lg-12">
                                            {{form_row(form.intraCommunityVAT)}}
                                        </div>
                                    </div>  
                                    <div class="form-group">
                                        <div class="col-lg-12">
                                            {{form_row(form.nbActions)}}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-12">
                                            {{form_row(form.capitalSocial)}}
                                        </div>
                                    </div> 
                                </fieldset>
                            </div>
                        </div>
                            <div class="text-right">
                                <button type="submit" class="btn btn-primary legitRipple">Envoyer <i class="icon-arrow-right14 position-right"></i></button>
                            </div>
                    </fieldset>
                        {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}