{% extends 'base.html.twig' %}

{% block content %}

<div class="container">
    <div class="panel panel-flat">
        <div class="panel-body">
            <ul class="media-list chat-list content-group">
                <li class="media">
                    <div class="media-left">
                        <a href="assets/images/demo/images/3.png">
                            <img src="{{asset('assets/images/face1.jpg')  }}" class="img-circle img-md" alt="">
                        </a>
                    </div>

                    <div class="media-body">
                        <div class="media-content">Below mounted advantageous spread yikes bat stubbornly crud a and a excepting</div>
                        <span class="media-annotation display-block mt-10">Mon, 9:54 am <a href="#"><i class="icon-pin-alt position-right text-muted"></i></a></span>
                    </div>
                </li>

                <li class="media reversed">
                    <div class="media-body">
                        <div class="media-content">Far squid and that hello fidgeted and when. As this oh darn but slapped casually husky sheared that cardinal hugely one and some unnecessary factiously hedgehog a feeling one rudely much but one owing sympathetic regardless more astonishing evasive tasteful much.</div>
                        <span class="media-annotation display-block mt-10">Mon, 10:24 am <a href="#"><i class="icon-pin-alt position-right text-muted"></i></a></span>
                    </div>

                    <div class="media-right">
                        <a href="assets/images/demo/images/3.png">
                            <img src="{{asset('assets/images/face1.jpg')  }}" class="img-circle img-md" alt="">
                        </a>
                    </div>
                </li>

                <li class="media">
                    <div class="media-left">
                        <a href="assets/images/demo/images/3.png">
                            <img src="{{asset('assets/images/face11.jpg')  }}" class="img-circle img-md" alt="">
                        </a>
                    </div>

                    <div class="media-body">
                        <div class="media-content">Darn over sour then cynically less roadrunner up some cast buoyant. Macaw krill when and upon less contrary warthog jeez some koala less since therefore minimal.</div>
                        <span class="media-annotation display-block mt-10">Mon, 10:56 am <a href="#"><i class="icon-pin-alt position-right text-muted"></i></a></span>
                    </div>
                </li>

                <li class="media reversed">
                    <div class="media-body">
                        <div class="media-content">Some upset impious a and submissive when far crane the belched coquettishly. More the puerile dove wherever</div>
                        <span class="media-annotation display-block mt-10">Mon, 11:29 am <a href="#"><i class="icon-pin-alt position-right text-muted"></i></a></span>
                    </div>

                    <div class="media-right">
                        <a href="assets/images/demo/images/3.png">
                            <img src="{{asset('assets/images/face1.jpg')  }}" class="img-circle img-md" alt="">
                        </a>
                    </div>
                </li>

                <li class="media date-step">
                    <span>Yesterday</span>
                </li>

                <li class="media">
                    <div class="media-left">
                        <a href="assets/images/demo/images/3.png">
                            <img src="{{asset('assets/images/face11.jpg')  }}" class="img-circle img-md" alt="">
                        </a>
                    </div>

                    <div class="media-body">
                        <div class="media-content">Regardless equitably hello heron glum cassowary jocosely before reliably a jeepers wholehearted shuddered more that some where far by koala.</div>
                        <span class="media-annotation display-block mt-10">Tue, 6:40 am <a href="#"><i class="icon-pin-alt position-right text-muted"></i></a></span>
                    </div>
                </li>

                <li class="media">
                    <div class="media-left">
                        <a href="assets/images/demo/images/3.png">
                            <img src="{{asset('assets/images/face11.jpg')  }}" class="img-circle img-md" alt="">
                        </a>
                    </div>

                    <div class="media-body">
                        <div class="media-content">Crud reran and while much withdrew ardent much crab hugely met dizzily that more jeez gent equivalent unsafely far one hesitant so therefore.</div>
                        <span class="media-annotation display-block mt-10">Tue, 10:28 am <a href="#"><i class="icon-pin-alt position-right text-muted"></i></a></span>
                    </div>
                </li>

                <li class="media reversed">
                    <div class="media-body">
                        <div class="media-content">Thus superb the tapir the wallaby blank frog execrably much since dalmatian by in hot. Uninspiringly arose mounted stared one curt safe</div>
                        <span class="media-annotation display-block mt-10">Tue, 8:12 am <a href="#"><i class="icon-pin-alt position-right text-muted"></i></a></span>
                    </div>

                    <div class="media-right">
                        <a href="assets/images/demo/images/3.png">
                            <img src="{{asset('assets/images/face1.jpg')  }}" class="img-circle img-md" alt="">
                        </a>
                    </div>
                </li>

                <li class="media date-step">
                    <span>Today</span>
                </li>

                <li class="media">
                    <div class="media-left">
                        <a href="assets/images/demo/images/3.png">
                            <img src="{{asset('assets/images/face11.jpg')  }}" class="img-circle img-md" alt="">
                        </a>
                    </div>

                    <div class="media-body">
                        <div class="media-content">Tolerantly some understood this stubbornly after snarlingly frog far added insect into snorted more auspiciously heedless drunkenly jeez foolhardy oh.</div>
                        <span class="media-annotation display-block mt-10">Wed, 4:20 pm <a href="#"><i class="icon-pin-alt position-right text-muted"></i></a></span>
                    </div>
                </li>

                <li class="media reversed">
                    <div class="media-body">
                        <div class="media-content">Satisfactorily strenuously while sleazily dear frustratingly insect menially some shook far sardonic badger telepathic much jeepers immature much hey.</div>
                        <span class="media-annotation display-block mt-10">2 hours ago <a href="#"><i class="icon-pin-alt position-right text-muted"></i></a></span>
                    </div>

                    <div class="media-right">
                        <a href="assets/images/demo/images/3.png">
                            <img src="{{asset('assets/images/face11.jpg')  }}" class="img-circle img-md" alt="">
                        </a>
                    </div>
                </li>

                <li class="media">
                    <div class="media-left">
                        <a href="assets/images/demo/images/3.png">
                            <img src="{{asset('assets/images/face11.jpg')  }}" class="img-circle img-md" alt="">
                        </a>
                    </div>

                    <div class="media-body">
                        <div class="media-content">Grunted smirked and grew less but rewound much despite and impressive via alongside out and gosh easy manatee dear ineffective yikes.</div>
                        <span class="media-annotation display-block mt-10">13 minutes ago <a href="#"><i class="icon-pin-alt position-right text-muted"></i></a></span>
                    </div>
                </li>

            </ul>

            <textarea name="enter-message" class="form-control content-group" rows="3" cols="1" placeholder="Entrer votre message..."></textarea>

            <div class="row">
                <div class="col-xs-6">
                    <ul class="icons-list icons-list-extended mt-10">

                        <li><a href="#" data-popup="tooltip" title="Envoyer une photo" data-container="body">
                                <label for="inptfile-pic">
                                 <i class="icon-file-picture" style="cursor: pointer"></i>
                                </label>
                            </a></li>

                        <li><a href="#" data-popup="tooltip" title="Envoyer une video" data-container="body">
                                <label for="inptfile-file">
                                 <i class="icon-file-video" style="cursor: pointer"></i>
                                </label>
                            </a></li>

                        <li><a href="#" data-popup="tooltip" title="Envoyer un fichier" data-container="body">
                                <label for="inptfile-plus">
                                 <i class="icon-file-plus" style="cursor: pointer"></i>
                                </label>
                            </a></li>
                    </ul>
                </div>

                <div class="col-xs-6 text-right">
                    <button type="button" class="btn bg-teal-400 btn-labeled btn-labeled-right"><b><i class="icon-circle-right2"></i></b> Envoyer</button>
                </div>

            </div>
        </div>

        <input type="file" id="inptfile-pic"  style="display: none">
        <input type="file" id="inptfile-file" style="display: none" >
        <input type="file" id="inptfile-plus" style="display: none">
    <!-- /basic layout -->

    </div>
{% endblock %}