{% extends 'employee/employee.html.twig' %}

{% block _content %}
    <div class="navbar navbar-inverse" style="background-color: #5d9d9c; border-color: #5d9d9c; position: relative; z-index: 30;">
        <div class="navbar-header">
            <ul class="nav navbar-nav pull-right visible-xs-block">
                <li><a data-toggle="collapse" data-target="#demo1" class="legitRipple"><i class="icon-tree5"></i></a></li>
            </ul>
        </div>

        <div class="navbar-collapse collapse" id="demo1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="{{ path('employee_index') }}">Collaborateurs</a></li>

                <li class=""><a href="{{ path('affectation_index') }}" >Affectations</a></li>
                <li class=""><a href="{{ path('company-index') }}" >Gestion du cabinet</a></li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle legitRipple" data-toggle="dropdown" aria-expanded="false">
                        <i class="icon-file-stats2 position-left"> </i>
                        Autre
                        <span class="caret"> </span>
                    </a>

                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="#tab4" data-toggle="tab">Comptes</a></li>
                        <li><a href="#tab5" data-toggle="tab">Journaux</a></li>
                        <li><a href="#tab6" data-toggle="tab">Import CFNOB</a></li>
                        <li><a href="#tab7" data-toggle="tab">Suivi CEB</a></li>
                        <li><a href="#tab8" data-toggle="tab">Facturation</a></li>
                        <li><a href="#tab9" data-toggle="tab">Remise Facturation</a></li>
                        <li><a href="#tab10" data-toggle="tab">Chiffre d'affaires</a></li>
                        <li><a href="#tab11" data-toggle="tab">Commissions</a></li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ path('parametrages') }}"><i class="icon-cog"> </i> Parametrages</a></li>
            </ul>
        </div>
    </div>
    <div class="tab-content">
        <div class="tab-pane fade has-padding active in" id="tab1">
            <span title="Ajouter un nouvel collaborateur" class="pull-right"><a href="{{ path('employee_new') }}" style="background-color: #5d9d9c; border-color: #5d9d9c;" class="btn btn-labeled btn-labeled-left bg-blue heading-btn legitRipple"><b><i class="icon-user-plus"></i></b> Ajouter</a></span>
            <div class="datatable-scroll-wrap">
                <table class="table datatable-responsive table-bordered table-hover datatable-highlight dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
                    <thead>
                    <tr role="row">
                        <th >Action</th>
                        <th >Prénom</th>
                        <th >Nom</th>
                        <th >Initiales</th>
                        <th >Login</th>
                        <th>Email</th>
                        <th >Type</th>
                        <th >Supérieur</th>
                        <th >Statut</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in employees %}
                        <tr role="row" class="">
                            <td class="text-center">
                                <div class="">
                                    <a title="Modifier" href="{{ path('employee_edit', {'id': item.id}) }}" class="text-primary legitRipple"><i class="icon-pen position-left"> </i></a>
                                </div>
                            </td>

                            <td class="sorting_1">{{ item.lastname}}</td>
                            <td>{{ item.firstName}}</td>

                            <td>{{ item.initials }}</td>

                            <td>{{ item.userAccount.username }}</td>
                            <td>
                                {{ item.userAccount.email }}
                            </td>
                            <td>
                                {{ item.jobPosition }}
                            </td>
                            <td>
                                {{ item.manager }}
                            </td>
                            <td>
                                {% if item.userAccount.enabled %}
                                    <span class="label label-success">Actif</span>
                                {% else %}
                                    <span class="label label-danger">Inactif</span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane fade has-padding" id="tab3">
            <h1 class="text-center">Coming soon</h1>
        </div>
        <div class="tab-pane fade has-padding" id="tab2">
            <h1 class="text-center">Coming soon</h1>
        </div>
        <div class="tab-pane fade has-padding" id="tab4">
            <h1 class="text-center">Coming soon</h1>
        </div>
        <div class="tab-pane fade has-padding" id="tab5">
            <h1 class="text-center">Coming soon</h1>
        </div>
        <div class="tab-pane fade has-padding" id="tab6">
            <h1 class="text-center">Coming soon</h1>
        </div>
        <div class="tab-pane fade has-padding" id="tab7">
            <h1 class="text-center">Coming soon</h1>
        </div>

        <div class="tab-pane fade has-padding" id="tab8">
            <h1 class="text-center">Coming soon</h1>
        </div>

        <div class="tab-pane fade has-padding" id="tab9">
            <h1 class="text-center">Coming soon</h1>
        </div>
        <div class="tab-pane fade has-padding" id="tab10">
            <h1 class="text-center">Coming soon</h1>
        </div>
        <div class="tab-pane fade has-padding" id="tab11">
            <h1 class="text-center">Coming soon</h1>
        </div>
    </div>
{% endblock %}
