{% extends 'employee/employee.html.twig' %}

{% block _content %}
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h6 class="panel-title">Employee creation<a class="heading-elements-toggle"><i class="icon-more"></i></a></h6>
            <div class="heading-elements">
                <a href="{{ path('employee_index') }}" class="btn btn-primary btn-xs "><b><i class="icon-loop3"></i></b> Retour à la liste</a>
            </div>
        </div>
        <div class="panel-body">
            <p class="content-group-lg"></p>

            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
            <div class="form-group">
                <div class="col-lg-12">
                    {{form_row(form.firstName)}}
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-12">
                    {{form_row(form.lastName)}}
                </div>
            </div>



            <div class="form-group">
                <div class="col-lg-12">
                    {{form_row(form.birthDate)}}
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-12">
                    {{form_row(form.entryDate)}}
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-12">
                    {{form_row(form.initials)}}
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-12">
                    {{form_row(form.phoneNumber)}}
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-12">
                    {{form_row(form.faxNumber)}}
                </div>
            </div>

            {#<div class="form-group">#}
                {#<div class="col-lg-12">#}
                    {#{{form_row(form.FixeNumber)}}#}
                {#</div>#}
            {#</div>#}

            {#<div class="form-group">#}
                {#<div class="col-lg-12">#}
                    {#{{form_row(form.currentAddress)}}#}
                {#</div>#}
            {#</div>#}


            <div class="form-group">
                <div class="col-lg-12">
                    {{form_row(form.jobPosition)}}
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-12">
                    {{form_row(form.manager)}}
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-12">
                    {{form_row(form.userAccount.username)}}
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-12">
                    {{form_row(form.userAccount.email)}}
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-12">
                    {{form_row(form.userAccount.password)}}
                </div>
            </div>

            {#<div class="form-group">#}
                {#<div class="col-lg-12">#}
                    {#{{form_row(form.status)}}#}
                {#</div>#}
            {#</div>#}
            <div class="text-right">
                <button type="submit" name="Ajouter" id="Ajouter" class="btn btn-primary legitRipple">ENREGISTRER<i class="icon-arrow-right14 position-right"></i></button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}
