{% extends 'company/company.html.twig' %}
{% block _content %}
    <div class="navbar navbar-inverse" style="background-color: #5d9d9c; border-color: #5d9d9c; position: relative; z-index: 30;">
        <div class="navbar-header">
            <ul class="nav navbar-nav pull-right visible-xs-block">
                <li><a data-toggle="collapse" data-target="#demo1" class="legitRipple"><i class="icon-tree5"></i></a></li>
            </ul>
        </div>
        <div class="navbar-collapse collapse" id="demo1">
            <ul class="nav navbar-nav">
                <li class=""><a href="{{ path('employee_index') }}">Collaborateurs</a></li>

                <li class="active"><a href="{{ path('affectation_index') }}" >Affectations</a></li>
                <li class=""><a href="{{ path('juridique_index') }}" >Gestion du cabinet</a></li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle legitRipple" data-toggle="dropdown" aria-expanded="false">
                        <i class="icon-file-stats2 position-left"> </i>
                        Autre
                        <span class="caret"> </span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="#tab4" data-toggle="tab">Comptes</a></li>
                        <li><a href="#tab5" data-toggle="tab">Journaux</a></li>
                        <li><a href="#tab6" data-toggle="tab">Import CFNOB</a></li>
                        <li><a href="#tab7" data-toggle="tab">Suivi CEB</a></li>
                        <li><a href="#tab8" data-toggle="tab">Facturation</a></li>
                        <li><a href="#tab9" data-toggle="tab">Remise Facturation</a></li>
                        <li><a href="#tab10" data-toggle="tab">Chiffre d'affaires</a></li>
                        <li><a href="#tab11" data-toggle="tab">Commissions</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ path('parametrages') }}"><i class="icon-cog"> </i> Parametrages</a></li>
            </ul>
        </div>
    </div>
    <div class="tab-content">
        <div class="tab-pane fade has-padding active in" id="tab2">
            <div class="row">
                <div class="col-xs-6 col-md-4">
                    <select data-placeholder="ANBDH" id="selectbox" class="select select2-hidden-accessible" tabindex="-1" aria-hidden="true">
                    {% for item in employee %}
                        <option value="{{ item.id}}">{{ item.firstName}}</option>
                    {% endfor %}
                    </select>
                </div>
                <div class="col-xs-6 col-md-4">
                    <button type="button" name="add" id="save" class="btn btn-labeled btn-labeled-left bg-blue heading-btn legitRipple"><b><i class="icon-user-plus"></i></b>affecter à la sélection</button>

                </div>
                <div class="col-xs-6 col-md-4">
                </div>
            </div>
            <div class="datatable-scroll-wrap">
                <table class="table datatable-responsive table-bordered table-hover datatable-highlight dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
                    <thead>
                    <tr role="row">
                        <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="#: activate to sort column descending">Code</th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Prénom: activate to sort column ascending">Entité Juridique</th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Nom: activate to sort column ascending">Date d'ouverture</th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Téléphone: activate to sort column ascending">Date de cloture</th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Téléphone: activate to sort column ascending">Collaborateur actuel</th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Rôles: activate to sort column ascending">
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in company %}
                        <tr role="row" class="testok" id="bjkhgjkgkgjkghkghkghk">
                            <td>
                                <div class="">
                                    <a title="Modifier" href="{{ path('company_edit', {'id': item.id}) }}" class=" legitRipple"><i class="icon-pen position-left"></i></a>
                                </div>
                            </td>
                            <td> {{ item.legalName}}</td>
                            <td>
                                {% for fiscalYear in item.fiscalYears %}
                                    {{fiscalYear.startDate |date(date_default_fromat)}}
                                {% endfor %}
                            </td>
                            <td>
                                {% for fiscalYear in item.fiscalYears %}
                                    {{fiscalYear.closeDate |date(date_default_fromat)}}
                                {% endfor %}
                            </td>
                            <td>
                                 {% for fiscalYear in item.fiscalYears %}
                                        <span class="label label-info">
                                            {{fiscalYear.assignment.employee.firstName}}
                                        </span>
                                 {% endfor %}
                            </td>

                            <td>
                                <input type="checkbox" class="sub_chk" data-id="{{ item.id}}">
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane fade has-padding" id="tab4">
            <h1 class="text-center">Coming soon</h1>
        </div>
        <div class="tab-pane fade has-padding" id="tab5">
            <h1 class="text-center">Coming soon</h1>
        </div>
        <div class="tab-pane fade has-padding" id="tab6">
            <h1 class="text-center">Coming soon</h1>
        </div>
        <div class="tab-pane fade has-padding" id="tab7">
            <h1 class="text-center">Coming soon</h1>
        </div>
        <div class="tab-pane fade has-padding" id="tab8">
            <h1 class="text-center">Coming soon</h1>
        </div>
        <div class="tab-pane fade has-padding" id="tab9">
            <h1 class="text-center">Coming soon</h1>
        </div>
        <div class="tab-pane fade has-padding" id="tab10">
            <h1 class="text-center">Coming soon</h1>
        </div>
        <div class="tab-pane fade has-padding" id="tab11">
            <h1 class="text-center">Coming soon</h1>
        </div>
    </div>
    {% block javascripts %}
        <script>
            $('#save').click(function(){
                var id = $('#selectbox').find("option:selected").val();
//                var id =  $(".sub_chk:checked").attr('data-id');

                var allVals = [];
                $(".sub_chk:checked").each(function() {
                    allVals.push($(this).attr('data-id'));
                });
//                //alert(allVals.length); return false;
//                if(allVals.length <=0)
//                {
//                    alert("Please select row.");
//                }

                $.ajax({
                    url:'{{path('affect')}}',
                    method:"GET",
                    data:{id:id,allVals:allVals},
                    success: function(json) {
                        alert(json);
                    }
                    })
                });
//////////////////////////////////////////////////////////




        </script>
    {% endblock %}
{% endblock %}