{% extends 'company/company.html.twig' %}
{% block _content %}

            <div class="panel panel-flat">
                <div class="panel-heading">
                    <h5 class="panel-title">Clients - Access</h5>
                    <div class="heading-elements">
                        <ul class="icons-list">
                            <li><a data-action="collapse"></a></li>
                            <li><a data-action="reload"></a></li>
                            <li><a data-action="close"></a></li>
                        </ul>
                    </div>
                </div>

                <div class="panel-body">

                        <div class="dropdown" style="float: right;">
                            <button style="background-color: #5d9d9c; border-color: #5d9d9c;" class="btn btn btn-labeled btn-labeled-left bg-blue heading-btn legitRipple btn-primary dropdown-toggle" id="menu1" type="button" data-toggle="dropdown"><b><i class="icon-user-plus"></i></b> Ajouter
                                <span class="caret"></span></button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                                <li><a  href="{{ path('company_new') }}">UN CLIENT</a></li>
                                <li><a  href="{{ path('company_new') }}">UN PROSPECT</a></li>
                            </ul>
                        </div>

                    <span title="Ajouter un nouveau Rendez vous" class="pull-left"><a href="{{ path('rendezvous_new') }}" style="background-color: #5d9d9c; border-color: #5d9d9c;" class="btn btn-labeled btn-labeled-left bg-blue heading-btn legitRipple"><b><i class="icon-user-plus"></i></b> Fixer Un Rendez Vous</a></span>

                    <table class="table datatable-responsive table-bordered table-hover datatable-highlight">
                        <thead>
                        <tr>
                            <th class="text-center">Filtres</th>
                            <th>Code</th>
                            <th>Entité juridique</th>
                            <th>Statut</th>
                            <th>Collaborateur</th>
                            <th>Forme juridique </th>
                            <th>Date de cloture </th>
                            <th>Date de dernier excercice a traiter</th>
                            <th>Regime Fiscal</th>
                            <th>Regime TVA</th>
                            <th>Activité Principale</th>
                            <th>Fiche Patrimoniale</th>
                            <th>Fiche CIN</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for company in companys %}
                        <tr>
                            <td class="text-center">
                                <div class="">
                                    <a title="Modifier" href="{{ path('company_edit', { 'id': company.id }) }}" class=" legitRipple"><i class="icon-pen position-left"></i></a>
                                </div>

                                {{ form_start(delete_form[loop.index-1]) }}
                                <button type="submit" style="background: transparent;border: none">
                                    <a title="Modifier" class=" legitRipple"><i class="icon-trash position-left"></i></a>
                                </button>
                                {{ form_end(delete_form[loop.index-1]) }}
                            </td>


                            <td>{{company.code}}</td>
                            <td>{{company.legalName}}</td>

                            <td>{{company.customerStatus|default('En cours')}}</td>
                            <td>Null</td>
                            <td>{{company.legalform}}</td>
                            <td>
                                {% for fiscalYear in company.fiscalYears %}
                                    {{fiscalYear.closeDate |date(date_default_fromat)}}
                                {% endfor %}
                            </td>
                            <td>Null</td>
                            <td>
                                {% for fiscalYear in company.fiscalYears %}
                                  {{fiscalYear.taxSystem}}
                                {% endfor %}
                            </td>
                            <td>
                                {% for fiscalYear in company.fiscalYears %}
                                    {{fiscalYear.vatSystem}}
                                {% endfor %}
                            </td>
                            <td>{{company.mainActivity}}</td>
                            <td><a href="{{ asset('/uploads/files/' ~ company.rendezvous.fichePatrimoniale) }}" style="background-color: #5d9d9c; border-color: #5d9d9c;" class="btn btn-labeled btn-labeled-left bg-blue heading-btn legitRipple"><b><i class="icon-file-download"></i></b>Fiche Patrimoniale</a></td>
                            <td><a href="{{ asset('/uploads/files/' ~ company.rendezvous.cin) }}" style="background-color: #5d9d9c; border-color: #5d9d9c;" class="btn btn-labeled btn-labeled-left bg-blue heading-btn legitRipple"><b><i class="icon-file-download"></i></b>Fiche CIN</a></td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
                <!-- /highlighting rows and columns -->
            </div>

{% endblock %}