<style>

    .dropdown-ticket > li > a {

        width: 200px;


    }
</style>

<div class="navbar navbar-default navbar-fixed-top header-highlight">
    <div class="navbar-header">
        <a class="navbar-brand" href="/"><b style="color: #fff;">Groupe Eko</b></a>

        <ul class="nav navbar-nav pull-right visible-xs-block">
            <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
            <li><a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a></li>
        </ul>
    </div>

    <div class="navbar-collapse collapse" id="navbar-mobile">
        <ul class="nav navbar-nav">
            <li><a class="sidebar-control sidebar-main-toggle hidden-xs"><i class="icon-paragraph-justify3"></i></a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            {#
            <li><a href="#">Text link</a></li>

            <li>
                <a href="#">
                    <i class="icon-cog3"></i>
                    <span class="visible-xs-inline-block position-right">Icon link</span>
                </a>
            </li>
            #}

            <li class="dropdown dropdown-user">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-ticket fa-2x" aria-hidden="true"></i>
                    <i class="caret"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right dropdown-ticket">

                    <li><a href="/profile/"><i class="fa fa-list"></i>lister les conversations</a></li>

                    <li><a href="/profile/"><i class="fa fa-plus-circle"></i> Créer une conversation</a></li>

                </ul>
            </li>


            <li class="dropdown dropdown-user">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <img src="{{ asset('assets/images/alarm.png') }}" alt="">
                    <span> {{ app.user.firstName|default('') }} </span>
                    <i class="caret"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="{{ path('fos_user_profile_show')}}"> Des execrices sont a créer</a></li>
                    <li class="divider"></li>
                    <li><a href="{{ path('fos_user_security_logout') }}"> Des execrices sont en anomalie</a></li>
                    <li class="divider"></li>
                    <li><a href="{{ path('fos_user_security_logout') }}"> Anomalies Répetoires</a></li>
                </ul>
            </li>

            <li class="dropdown dropdown-user">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <img src="{{ asset('assets/images/job-search.png') }}" alt="">
                    <span> {{ app.user.firstName|default('') }} </span>
                    <i class="caret"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="{{ path('fos_user_profile_show')}}"> Fiches Client</a></li>
                    <li class="divider"></li>
                    <li><a href="{{ path('fos_user_security_logout') }}"> Planning</a></li>
                    <li class="divider"></li>
                    <li><a href="{{ path('fos_user_security_logout') }}"> Ecritures CFONB a rapprocher</a></li>
                    <li class="divider"></li>
                    <li><a href="{{ path('fos_user_security_logout') }}"> Dossier de travail a créer</a></li>
                    <li class="divider"></li>
                    <li><a href="{{ path('fos_user_security_logout') }}"> Clients a débit différé</a></li>
                </ul>
            </li>

            <li class="dropdown dropdown-user">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <img src="{{ asset('assets/images/avatar.png') }}" alt="">
                    <span> {{ app.user.firstName|default('') }} </span>
                    <i class="caret"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="{{ path('fos_user_profile_show')}}"><i class="icon-user-plus"></i> Mon profil</a></li>
                    <li class="divider"></li>
                    <li><a href="{{ path('fos_user_security_logout') }}"><i class="icon-switch2"></i> Déconnexion</a></li>
                </ul>
            </li>

        </ul>
    </div>
</div>