<style>
    .dropdown-ticket > li > a {

         width: 200px;
    }
    .fa-stack{
         height:1.2em !important;
     }
    #ex4 .p1[data-count]:after{
        position:absolute;
        right:10%;
        top:8%;
        content: attr(data-count);
        font-size:40%;
        padding:.2em;
        border-radius:50%;
        line-height:1em;
        color: white;
        background:rgba(255,0,0,.85);
        text-align:center;
        min-width: 1em;
    }
</style>

<div class="navbar navbar-default navbar-fixed-top header-highlight">
    <div class="navbar-header">
         <a class="navbar-brand sidebar-control sidebar-main-toggle" href="/"><b style="color: #fff;">Groupe Eko</b></a>
        <ul class="nav navbar-nav pull-right visible-xs-block">
            <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
            <li><a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a></li>
        </ul>
    </div>

    <div class="navbar-collapse collapse" id="navbar-mobile">
        <!-- <ul class="nav navbar-nav breadcrumb-line">
            <li><a class="sidebar-control sidebar-main-toggle hidden-xs"><i class="icon-paragraph-justify3"></i></a></li>
            <li><a class="legitRipple"  href="#"><i class="icon-file-text3"></i>Gestion de cabinet</a></li>
            <li><a class="legitRipple"   href="#"><i class="icon-collaboration"></i>Planning</a></li>
            <li><a class="legitRipple"   href="#"><i class="icon-users4"></i>Clients</a></li>
            <li><a class="legitRipple"   href="#"><i class="icon-books"></i>Formalités</a></li>
            <li><a class="legitRipple"   href="#"><i class="icon-cog5"></i>Suivi de projet</a></li>
        </ul> -->
        <ul class="nav navbar-nav">
				<li class="active dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-file-text3 position-left"></i>Gestion de cabinet<span class="caret"></span></a>
                    <ul class="dropdown-menu width-200">
                            <li class="dropdown-submenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-grid2"></i>Collaborateurs</a>
                            </li>
                            <li class="dropdown-submenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-paragraph-justify3"></i>Collaborateurs affectation</a>
                            </li>
                            <li><a href="#"><i class="icon-align-center-horizontal"></i>gestion de cabinet</a></li>
                            <li><a href="#"><i class="icon-flip-vertical3"></i>Comptes</a></li>
                            <li><a href="#"><i class="icon-flip-vertical3"></i>Journaux</a></li>
                            <li><a href="#"><i class="icon-flip-vertical3"></i>import CF0NB</a></li>

                        </ul>
                </li>

				<li class="dropdown mega-menu mega-menu-wide">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-collaboration position-left"></i>Planning<span class="caret"></span></a>
			    </li>

				<li class="dropdown mega-menu mega-menu-wide">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-users4 position-left"></i>Clients<span class="caret"></span></a>

			    </li>

				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<i class="icon-books position-left"></i>Formalités<span class="caret"></span>
					</a>

				</li>

				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<i class="icon-cog5 position-left"></i>Suivi de projet<span class="caret"></span>
					</a>
				</li>
			</ul>

        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown dropdown-user">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <div id="ex4" style="margin-top: -4px">
                          <span class="p1 fa-stack fa-2x has-badge" data-count="9" title="Conversations">
                             <i class="p3 fa fa-comments fa-stack-1x xfa-inverse" style="margin-top: -5px"></i>
                          </span>
                    </div>
                </a>

                <ul class="dropdown-menu dropdown-menu-right dropdown-ticket">

                    <li><a href="/app/conversationlist"><i class="fa fa-list"></i>lister les conversations</a></li>

                    <li><a href="/app/conversationadd"><i class="fa fa-plus-circle"></i> Créer une conversation</a></li>

                </ul>
            </li>
            <li class="dropdown dropdown-user">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <div id="ex4" style="margin-top: -4px">
                          <span class="p1 fa-stack fa-2x has-badge" data-count="4" title="Notifications">
                             <i class="p3 fa fa-bell fa-stack-1x xfa-inverse" style="margin-top: -5px"></i>
                          </span>
                    </div>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="{{ path('fos_user_profile_show')}}"> Des execrices sont a créer</a></li>
                    <li class="divider"></li>
                    <li><a href="{{ path('fos_user_security_logout') }}"> Des execrices sont en anomalie</a></li>
                    <li class="divider"></li>
                    <li><a href="{{ path('fos_user_security_logout') }}"> Anomalies Répetoires</a></li>
                </ul>
            </li>

            <li class="dropdown dropdown-user">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <div id="ex4" style="margin-top: -5px">
                          <span class="p1 fa-stack fa-2x has-badge" title="Fichiers">
                             <i class="p3 fa fa-file fa-stack-1x xfa-inverse" style="margin-top: -5px"></i>
                          </span>
                    </div>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="{{ path('fos_user_profile_show')}}"> Fiches Client</a></li>
                    <li class="divider"></li>
                    <li><a href="{{ path('fos_user_security_logout') }}"> Planning</a></li>
                    <li class="divider"></li>
                    <li><a href="{{ path('fos_user_security_logout') }}"> Ecritures CFONB a rapprocher</a></li>
                    <li class="divider"></li>
                    <li><a href="{{ path('fos_user_security_logout') }}"> Dossier de travail a créer</a></li>
                    <li class="divider"></li>
                    <li><a href="{{ path('fos_user_security_logout') }}"> Clients a débit différé</a></li>
                </ul>
            </li>

            <li class="dropdown dropdown-user">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <div id="ex4" style="margin-top: -5px">
                          <span class="p1 fa-stack fa-2x has-badge" title="Profil">
                             <i class="p3 fa fa-user fa-stack-1x xfa-inverse" style="margin-top: -5px"></i>
                          </span>
                    </div>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="{{ path('fos_user_profile_show')}}"><i class="icon-user-plus"></i> Mon profil</a></li>
                    <li class="divider"></li>
                    <li><a href="{{ path('fos_user_security_logout') }}"><i class="icon-switch2"></i> Déconnexion</a></li>
                </ul>
            </li>

        </ul>
    </div>

</div>
