 <div class="sidebar-detached">
                <div class="sidebar sidebar-default">
                    <div class="sidebar-content">
                        <div class="sidebar-category">
                            <div class="category-title">
                                <span>Administratif</span>
                                <ul class="icons-list">
                                    <li><a href="#" data-action="collapse" class=""></a></li>
                                </ul>
                            </div>

                            <div class="category-content" style="display: block;">
                                
                                <ul class="nav nav-tabs-highlight navigation navigation-alt navigation-accordion">
                                    <li><a href="{{ path('administratifNote') }}">Notes</a></li>
                                    <li><a href="{{ path('lettredespense') }}"  >Lettre de dispense</a></li>
                                    <li><a href="{{ path('attestationNonremu') }}">Attestation de non rémunération</a></li>
                                    <li><a href="{{ path('administratifNote') }}">Attestation cotisation à jour en l'absence de salairés</a></li>
                                    <li><a href="{{ path('administratifNote') }}">Attestation cotisations à jour</a></li>
                                    <li><a href="{{ path('attestationMiniprevisionel') }}">Attestation mini prévisionnel</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="sidebar-category">
                            <div class="category-title">
                                <span>Comptabilité</span>
                                <ul class="icons-list">
                                    <li><a href="#" data-action="collapse" class=""></a></li>
                                </ul>
                            </div>

                            <div class="category-content" style="display: block;">
                                <ul class="navigation navigation-alt navigation-accordion">
                                    <li><a href="">Import CFONB</a></li>
                                    <li><a href="">Balance Générale</a></li>
                                    <li><a href="">Grand livre</a></li>
                                    <li><a href="">Journal Générale</a></li>
                                    <li><a href="">Etats Financiers</a></li>
                                    <li><a href="">Reporting</a></li>
                                    <li><a href="">Point en suspens</a></li>
                                    <li><a href="">Mail de cloture</a></li>
                                    <li><a href="">1</a></li>
                                    <li><a href="">2</a></li>
                                    <li><a href="">3</a></li>
                                    <li><a href="">40</a></li>
                                    <li><a href="">41</a></li>
                                    <li><a href="">42</a></li>
                                    <li><a href="">43</a></li>
                                    <li><a href="">44</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="sidebar-category">
                            <div class="category-title">
                                <span>Fiscalité</span>
                                <ul class="icons-list">
                                    <li><a href="#" data-action="collapse" class=""></a></li>
                                </ul>
                            </div>

                            <div class="category-content" style="display: block;">
                                <ul class="navigation navigation-alt navigation-accordion">
                                    <li><a href="{{ path('fiscalite') }}">Liasses fiscales</a></li>
                                    <li><a href="">Fitche Optimisation</a></li>
                                    <li><a href="">Cadrage TVA</a></li>
                                    <li><a href="{{ path('calculeis') }}">Calcul IS</a></li>
                                    <li><a href="">PROV TVS</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="sidebar-category">
                            <div class="category-title">
                                <span>Socile</span>
                                <ul class="icons-list">
                                    <li><a href="#" data-action="collapse" class=""></a></li>
                                </ul>
                            </div>

                            <div class="category-content" style="display: block;">
                                <ul class="navigation navigation-alt navigation-accordion">
                                    <li><a href="">Prov TNS RSI</a></li>
                                    <li><a href="">Prov TNS CIPAV</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>